/* Core Setup Extended Start */
.block{
    display: block;
}
.text-left{
    text-align: left !important;
}
.text-dark{
    color: rgb(var(--color-slate-800) / var(--tw-text-opacity)) !important;
}
.active-bg-success{
    background: rgb(var(--color-success) / var(--tw-bg-opacity)) !important;
}
.active-text-white, .active-text-white *{
    color: #FFF !important;
}
.hover-bg-success:hover{
    background: rgb(var(--color-success) / var(--tw-bg-opacity)) !important;
}
.hover-text-white:hover, .hover-text-white:hover *{
    color: #FFF !important;
}
.m-h-64{
    max-height: 16rem;
}
.m-h-56{
    max-height: 14rem;
}
.dropzone#uploadTaskDocumentForm .dz-preview .dz-image{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.dropzone#uploadTaskDocumentForm .dz-preview{
    margin: 10px;
}
.dropzone#uploadTaskDocumentForm .dz-preview .dz-details{
    padding: 13px 5px;
}
@media (min-width: 1024px){
    .modal#viewTaskLogModal .modal-dialog.modal-xl {
        width: 85%;
    }
}
/* Core Setup Extended End */


.modal-alert{
    display: none;
}
.modal-alert .alert{
    border-radius: 0;
}

.tabulator#courseCreationInstTable .tabulator-row:hover, .tabulator#courseCreationInstTable .tabulator-row.tabulator-row-even:hover, 
.tabulator#courseCreationInstTable .tabulator-row.tabulator-row-even{
    background-color: #fff;
}

.singleModule{
    position: relative;
    display: block;
}
.singleModule.alreadySelected{
    display: none;
}
.availableModules .singleModule span{
    width: 15px;
    height: 7px;
    border-left: 2px solid rgb(22, 78, 99);
    border-bottom: 2px solid rgb(22, 78, 99);
    position: absolute;
    right: 21px;
    top: 23px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.availableModules .singleModule:hover span{
    border-bottom-color: #FFF;
    border-left-color: #fff;
}
.selectedElements .singleModule span{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 21px;
    top: 20px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.selectedElements .singleModule span::after{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    background-color: rgb(22, 78, 99);

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.selectedElements .singleModule span::before{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto 0;
    background-color: rgb(22, 78, 99);

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.selectedElements .singleModule:hover span::after,
.selectedElements .singleModule:hover span::before{
    background-color: #FFF;
}

.table.routineBuilderTable tbody td:first-child{
    width: 120px;
}
.table.routineBuilderTable td{
    position: relative;
    padding: 5px 5px 44px 5px;
    vertical-align: top;
}
.table.routineBuilderTable td .theAddBTN{
    border-radius: 0.375rem 0 0 0;
    right: 0;
    bottom: 0;
}
.table.routineBuilderTable td .routineDayBoxes{
    width: 300px;
    min-height: 50px;
}
.btn-course{
    background: #3498db;
}
.btn-module{
    background: #62b091;
}
.btn-tutor{
    background: #93b582;
}
.btn-ptutor{
    background: #3c989e;
}
.btn-time{
    background: #cf6954;
}
.btn-class-type{
    background: #65BBD6;
}
.btn-group{
    background: #eb6b73;
}
.btn-ekey{
    background: #FFC052;
}
.btn-submission{
    background: #C74B4A;
}
.btn-vroom{
    background: #3B5A98;
}
.btn-note{
    background: #E04C86;
}
.routineDayBox {
    background: #d9edf7;
    padding: 5px 5px 5px;
    position: relative;
    margin: 0 0 5px;
}
.rdbItem{
    margin: 0 0 2.5px;
    float: left;
    width: 100%;
}
.rdbItem.rdItemHalf{
    width: 50%;
}
.rdbItem.rdItemHalf.odds{
    width: calc(50% - 2.5px);
    margin-right: 2.5px;
}
.rdbItem.rdItemHalf.evens{
    width: calc(50% - 2.5px);
    margin-left: 2.5px;
}
.rdbItem button{
    font-size: 14px;
}
.dropdownMenus{
    position: relative;
}
.dropdownMenuBox{
    position: absolute;
    left: 0;
    top: 100%;
    background: #FFF;
    box-shadow: 0px 3px 10px #00000017;
    border-radius: 0.375rem;
    padding: 0.5rem;
    width: 100%;
    z-index: 9999;
    display: none;
}
.dropdownMenus{
    position: relative;
    margin: 0.25rem 0 0;
    padding: 0;
}
.dropdownMenus li{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding: 0.5rem;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.dropdownMenus li:hover, 
.dropdownMenus li.active {
    background-color: rgb(var(--color-slate-200) / 0.6);
}
.m-h-32 {
    max-height: 8rem;
}
.cursor-pointer{
    cursor: pointer;
}
.clearSelection{
    position: absolute;
    border: none;
    border-radius: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    z-index: 99;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.clearSelection:hover{
    opacity: .8;
}
.inputFields{
    position: relative;
    margin: 0.25rem 0 0;
}
.inputWraps{
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: 999999;
    display: none;
}
.inputWraps .form-control{
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.inputWraps .btn{
    width: 26px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.removePlanBTN{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50% 0 50% 50%;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}
.routineDayBox:hover .removePlanBTN{
    opacity: 1;
    visibility: visible;
    right: 3px;
    top: 3px;
}

#classPlansListTable .tabulator-row.tabulator-selected{
    background-color: transparent;
}

#classPlansListTable .tabulator-headers::-moz-selection { /* Code for Firefox */
    background: transparent;
}
  
#classPlansListTable .tabulator-headers::selection {
    background: transparent;
}


/* Wizard Form Styling */
.form-wizard-steps li.active button,
.form-wizard-steps li.activated button{
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-primary) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.form-wizard-steps li.active div,
.form-wizard-steps li.activated div{
    font-weight: 500 !important;
}
.form-wizard .wizard-fieldset {
    display: none;
}
.form-wizard .wizard-fieldset.show {
    display: block;
}

#applicantReviewAccordion.accordion .accordion-item{
    border: none !important;
}
#applicantReviewAccordion.accordion .collapse.show{
    visibility: visible;
}
.accordion-button .accordionCollaps{
    position: absolute;
    right: 25px;
    top: 18px;
    width: 25px;
    height: 25px;
}
.accordion-button .accordionCollaps::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgb(var(--color-primary) / var(--tw-text-opacity));

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.accordion-button .accordionCollaps::before{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgb(var(--color-primary) / var(--tw-text-opacity));
    opacity: 1;
    visibility: visible;

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.accordion-button:not(.collapsed) .accordionCollaps::before{
    opacity: 0;
    visibility: hidden;
}
.rounded-0{
    border-radius: 0;
}
.w-144{
    width: 36rem;
}
.dropdown-menu .dropdown-content.py-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.dropdown-menu .dropdown-content.px-3{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.customDropdown{
    position: relative;
}
.documentsDropdown{
    box-shadow: 0px 3px 10px #00000017;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 280px;
    border-radius: 0.375rem;
    padding: 0.5rem;
    background: #fff;
    display: none;
}


#processListAccordion.accordion .accordion-item:first-child{
    margin-top: -.5rem;
}
#processListAccordion.accordion .accordion-item:last-child{
    margin-bottom: -.5rem;
}
#processListAccordion.accordion .accordion-item .accordion-header .accordion-button{
    padding-left: .5rem;
}
.processAccrodionWrap{
    max-height: 311px;
    overflow-y: auto;
    overflow-x: hidden;
}

#addLetterModal .ck-editor__editable {
    max-height: 400px;
}


.sitePreLoader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(var(--color-primary));
}
.la-ball-scale-multiple,
.la-ball-scale-multiple>div{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.la-ball-scale-multiple{display:block;font-size:0;color:#fff}
.la-ball-scale-multiple.la-dark{color:#333}
.la-ball-scale-multiple>div{display:inline-block;float:none;background-color:currentColor;border:0 solid currentColor}
.la-ball-scale-multiple{width:32px;height:32px}
.la-ball-scale-multiple>div{position:absolute;top:0;left:0;width:32px;height:32px;border-radius:100%;opacity:0;-webkit-animation:ball-scale-multiple 1s 0s linear infinite;-moz-animation:ball-scale-multiple 1s 0s linear infinite;-o-animation:ball-scale-multiple 1s 0s linear infinite;animation:ball-scale-multiple 1s 0s linear infinite}
.la-ball-scale-multiple>div:nth-child(2){-webkit-animation-delay:.2s;-moz-animation-delay:.2s;-o-animation-delay:.2s;animation-delay:.2s}
.la-ball-scale-multiple>div:nth-child(3){-webkit-animation-delay:.4s;-moz-animation-delay:.4s;-o-animation-delay:.4s;animation-delay:.4s}
.la-ball-scale-multiple.la-sm{width:16px;height:16px}
.la-ball-scale-multiple.la-sm>div{width:16px;height:16px}
.la-ball-scale-multiple.la-2x{width:64px;height:64px; left: 0; top: 0; right: 0; margin: auto; bottom: 0; position: absolute;}
.la-ball-scale-multiple.la-2x>div{width:64px;height:64px}
.la-ball-scale-multiple.la-3x{width:96px;height:96px}
.la-ball-scale-multiple.la-3x>div{width:96px;height:96px}@-webkit-keyframes ball-scale-multiple{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}5%{opacity:.75}100%{opacity:0;-webkit-transform:scale(1);transform:scale(1)}}@-moz-keyframes ball-scale-multiple{0%{opacity:0;-moz-transform:scale(0);transform:scale(0)}5%{opacity:.75}100%{opacity:0;-moz-transform:scale(1);transform:scale(1)}}@-o-keyframes ball-scale-multiple{0%{opacity:0;-o-transform:scale(0);transform:scale(0)}5%{opacity:.75}100%{opacity:0;-o-transform:scale(1);transform:scale(1)}}@keyframes ball-scale-multiple{0%{opacity:0;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0)}5%{opacity:.75}100%{opacity:0;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}

.liveStudentMainMenu{
    position: relative;
}
.liveStudentSubMenu{
    position: absolute;
    left: 0;
    top: calc(100% - 55px);
    display: none;
}
.liveStudentSubMenu.show{
    display: flex;
}

#editStudentConsentModal .readOnlyConsent{
    cursor: not-allowed;
}


.validationGroup{
    position: relative;
}
.validationGroup button{
    right: 0;
    top: 0;
}
.mw-120{
    min-width: 120px;
}
.cursor-pointer{
    cursor: pointer;
}
.optionBox .optionBoxBody{
    position: relative;
    display: none;
}
.optionBox.active .optionBoxBody{
    position: relative;
    display: block;
}
.optionBox .optionBoxTitle{
    padding: 7px 0;
}
.optionBox.active .optionBoxTitle{
    color: rgb(var(--color-primary) / var(--tw-text-opacity));
}
.optionBox .optionBoxHeader button{
    display: none;
}
.optionBox.active .optionBoxHeader button{
    display: inline-flex;
}
.optionBox.active .optionBoxHeader svg.arrowNavigation{
    display: none;
}

.emailGroup .input-group-text{
    width: 120px;
    padding: 0;
    border: none;
}
.emailGroup input.form-control{
    width: calc(100% - 120px);
}