/* Core Setup Extended Start */
.block{
    display: block;
}
.text-left{
    text-align: left !important;
}
.text-dark{
    color: rgb(var(--color-slate-800) / var(--tw-text-opacity)) !important;
}
.active-bg-success{
    background: rgb(var(--color-success) / var(--tw-bg-opacity)) !important;
}
.active-text-white, .active-text-white *{
    color: #FFF !important;
}
.hover-bg-success:hover{
    background: rgb(var(--color-success) / var(--tw-bg-opacity)) !important;
}
.hover-text-white:hover, .hover-text-white:hover *{
    color: #FFF !important;
}
.m-h-64{
    max-height: 16rem;
}
.m-h-56{
    max-height: 14rem;
}
.dropzone#uploadTaskDocumentForm .dz-preview .dz-image{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.dropzone#uploadTaskDocumentForm .dz-preview{
    margin: 10px;
}
.dropzone#uploadTaskDocumentForm .dz-preview .dz-details{
    padding: 13px 5px;
}
@media (min-width: 1024px){
    .modal#viewTaskLogModal .modal-dialog.modal-xl {
        width: 85%;
    }
}
/* Core Setup Extended End */


.modal-alert{
    display: none;
}
.modal-alert .alert{
    border-radius: 0;
}

.tabulator#courseCreationInstTable .tabulator-row:hover, .tabulator#courseCreationInstTable .tabulator-row.tabulator-row-even:hover, 
.tabulator#courseCreationInstTable .tabulator-row.tabulator-row-even{
    background-color: #fff;
}

.singleModule{
    position: relative;
    display: block;
}
.singleModule.alreadySelected{
    display: none;
}
.availableModules .singleModule span{
    width: 15px;
    height: 7px;
    border-left: 2px solid rgb(22, 78, 99);
    border-bottom: 2px solid rgb(22, 78, 99);
    position: absolute;
    right: 21px;
    top: 23px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.availableModules .singleModule:hover span{
    border-bottom-color: #FFF;
    border-left-color: #fff;
}
.selectedElements .singleModule span{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 21px;
    top: 20px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.selectedElements .singleModule span::after{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    background-color: rgb(22, 78, 99);

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.selectedElements .singleModule span::before{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto 0;
    background-color: rgb(22, 78, 99);

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.selectedElements .singleModule:hover span::after,
.selectedElements .singleModule:hover span::before{
    background-color: #FFF;
}

.table.routineBuilderTable tbody td:first-child{
    width: 120px;
}
.table.routineBuilderTable td{
    position: relative;
    padding: 5px 5px 44px 5px;
    vertical-align: top;
}
.table.routineBuilderTable td .theAddBTN{
    border-radius: 0.375rem 0 0 0;
    right: 0;
    bottom: 0;
}
.table.routineBuilderTable td .routineDayBoxes{
    width: 300px;
    min-height: 50px;
}
.btn-course{
    background: #3498db;
}
.btn-module{
    background: #62b091;
}
.btn-tutor{
    background: #93b582;
}
.btn-ptutor{
    background: #3c989e;
}
.btn-time{
    background: #cf6954;
}
.btn-class-type{
    background: #65BBD6;
}
.btn-group{
    background: #eb6b73;
}
.btn-ekey{
    background: #FFC052;
}
.btn-submission{
    background: #C74B4A;
}
.btn-vroom{
    background: #3B5A98;
}
.btn-note{
    background: #E04C86;
}
.routineDayBox {
    background: #d9edf7;
    padding: 5px 5px 5px;
    position: relative;
    margin: 0 0 5px;
}
.rdbItem{
    margin: 0 0 2.5px;
    float: left;
    width: 100%;
}
.rdbItem.rdItemHalf{
    width: 50%;
}
.rdbItem.rdItemHalf.odds{
    width: calc(50% - 2.5px);
    margin-right: 2.5px;
}
.rdbItem.rdItemHalf.evens{
    width: calc(50% - 2.5px);
    margin-left: 2.5px;
}
.rdbItem button{
    font-size: 14px;
}
.dropdownMenus{
    position: relative;
}
.dropdownMenuBox{
    position: absolute;
    left: 0;
    top: 100%;
    background: #FFF;
    box-shadow: 0px 3px 10px #00000017;
    border-radius: 0.375rem;
    padding: 0.5rem;
    width: 100%;
    z-index: 9999;
    display: none;
}
.dropdownMenus{
    position: relative;
    margin: 0.25rem 0 0;
    padding: 0;
}
.dropdownMenus li{
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding: 0.5rem;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.dropdownMenus li:hover, 
.dropdownMenus li.active {
    background-color: rgb(var(--color-slate-200) / 0.6);
}
.m-h-32 {
    max-height: 8rem;
}
.cursor-pointer{
    cursor: pointer;
}
.clearSelection{
    position: absolute;
    border: none;
    border-radius: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    z-index: 99;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.clearSelection:hover{
    opacity: .8;
}
.inputFields{
    position: relative;
    margin: 0.25rem 0 0;
}
.inputWraps{
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    z-index: 999999;
    display: none;
}
.inputWraps .form-control{
    height: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.inputWraps .btn{
    width: 26px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.removePlanBTN{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50% 0 50% 50%;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}
.routineDayBox:hover .removePlanBTN{
    opacity: 1;
    visibility: visible;
    right: 3px;
    top: 3px;
}

#classPlansListTable .tabulator-row.tabulator-selected{
    background-color: transparent;
}

#classPlansListTable .tabulator-headers::-moz-selection { /* Code for Firefox */
    background: transparent;
}
  
#classPlansListTable .tabulator-headers::selection {
    background: transparent;
}


/* Wizard Form Styling */
.form-wizard-steps li.active button,
.form-wizard-steps li.activated button{
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-primary) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-primary) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.form-wizard-steps li.active div,
.form-wizard-steps li.activated div{
    font-weight: 500 !important;
}
.form-wizard .wizard-fieldset {
    display: none;
}
.form-wizard .wizard-fieldset.show {
    display: block;
}

#applicantReviewAccordion.accordion .accordion-item{
    border: none !important;
}
#applicantReviewAccordion.accordion .collapse.show{
    visibility: visible;
}
.accordion-button .accordionCollaps,
.employee_month_attendance_accordion .accordionCollaps,
.lcc_custom_accordion .accordionCollaps{
    position: absolute;
    right: 25px;
    top: 18px;
    width: 25px;
    height: 25px;
}
.accordion-button .accordionCollaps::after,
.employee_month_attendance_accordion .accordionCollaps::after,
.lcc_custom_accordion .accordionCollaps::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgb(var(--color-primary) / var(--tw-text-opacity));

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.accordion-button .accordionCollaps::before,
.employee_month_attendance_accordion .accordionCollaps::before,
.lcc_custom_accordion .accordionCollaps::before{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgb(var(--color-primary) / var(--tw-text-opacity));
    opacity: 1;
    visibility: visible;

    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}
.accordion-button:not(.collapsed) .accordionCollaps::before{
    opacity: 0;
    visibility: hidden;
}
.lcc_custom_accordion .lcc_accordion_button.active .accordionCollaps::before{
    opacity: 0;
    visibility: hidden;
}
.employee_month_attendance_accordion .lcc_month_accordion_button.active .accordionCollaps::before{
    opacity: 0;
    visibility: hidden;
}
.rounded-0{
    border-radius: 0;
}
.w-144{
    width: 36rem;
}
.dropdown-menu .dropdown-content.py-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.dropdown-menu .dropdown-content.px-3{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.dropdown-content .dropdown-active {
    background: rgb(226 232 240 / 0.6);
}
.customDropdown{
    position: relative;
}
.documentsDropdown{
    box-shadow: 0px 3px 10px #00000017;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 280px;
    border-radius: 0.375rem;
    padding: 0.5rem;
    background: #fff;
    display: none;
}


#processListAccordion.accordion .accordion-item:first-child{
    margin-top: -.5rem;
}
#processListAccordion.accordion .accordion-item:last-child{
    margin-bottom: -.5rem;
}
#processListAccordion.accordion .accordion-item .accordion-header .accordion-button{
    padding-left: .5rem;
}
.processAccrodionWrap{
    max-height: 311px;
    overflow-y: auto;
    overflow-x: hidden;
}

#addLetterModal .ck-editor__editable {
    max-height: 400px;
}


.sitePreLoader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(var(--color-primary));
}
.la-ball-scale-multiple,
.la-ball-scale-multiple>div{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.la-ball-scale-multiple{display:block;font-size:0;color:#fff}
.la-ball-scale-multiple.la-dark{color:#333}
.la-ball-scale-multiple>div{display:inline-block;float:none;background-color:currentColor;border:0 solid currentColor}
.la-ball-scale-multiple{width:32px;height:32px}
.la-ball-scale-multiple>div{position:absolute;top:0;left:0;width:32px;height:32px;border-radius:100%;opacity:0;-webkit-animation:ball-scale-multiple 1s 0s linear infinite;-moz-animation:ball-scale-multiple 1s 0s linear infinite;-o-animation:ball-scale-multiple 1s 0s linear infinite;animation:ball-scale-multiple 1s 0s linear infinite}
.la-ball-scale-multiple>div:nth-child(2){-webkit-animation-delay:.2s;-moz-animation-delay:.2s;-o-animation-delay:.2s;animation-delay:.2s}
.la-ball-scale-multiple>div:nth-child(3){-webkit-animation-delay:.4s;-moz-animation-delay:.4s;-o-animation-delay:.4s;animation-delay:.4s}
.la-ball-scale-multiple.la-sm{width:16px;height:16px}
.la-ball-scale-multiple.la-sm>div{width:16px;height:16px}
.la-ball-scale-multiple.la-2x{width:64px;height:64px; left: 0; top: 0; right: 0; margin: auto; bottom: 0; position: absolute;}
.la-ball-scale-multiple.la-2x>div{width:64px;height:64px}
.la-ball-scale-multiple.la-3x{width:96px;height:96px}
.la-ball-scale-multiple.la-3x>div{width:96px;height:96px}@-webkit-keyframes ball-scale-multiple{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}5%{opacity:.75}100%{opacity:0;-webkit-transform:scale(1);transform:scale(1)}}@-moz-keyframes ball-scale-multiple{0%{opacity:0;-moz-transform:scale(0);transform:scale(0)}5%{opacity:.75}100%{opacity:0;-moz-transform:scale(1);transform:scale(1)}}@-o-keyframes ball-scale-multiple{0%{opacity:0;-o-transform:scale(0);transform:scale(0)}5%{opacity:.75}100%{opacity:0;-o-transform:scale(1);transform:scale(1)}}@keyframes ball-scale-multiple{0%{opacity:0;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0)}5%{opacity:.75}100%{opacity:0;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}}

.liveStudentMainMenu{
    position: relative;
}
.liveStudentSubMenu{
    position: absolute;
    left: 0;
    top: calc(100% - 55px);
    display: none;
}
.liveStudentSubMenu.show{
    display: flex;
}

#editStudentConsentModal .readOnlyConsent{
    cursor: not-allowed;
}


.validationGroup{
    position: relative;
}
.validationGroup button{
    right: 0;
    top: 0;
}
.mw-120{
    min-width: 120px;
}
.cursor-pointer{
    cursor: pointer;
}
.optionBox .optionBoxBody{
    position: relative;
    display: none;
}
.optionBox.active .optionBoxBody{
    position: relative;
    display: block;
}
.optionBox .optionBoxTitle{
    padding: 7px 0;
}
.optionBox.active .optionBoxTitle{
    color: rgb(var(--color-primary) / var(--tw-text-opacity));
}
.optionBox .optionBoxHeader button{
    display: none;
}
.optionBox.active .optionBoxHeader button{
    display: inline-flex;
}
.optionBox.active .optionBoxHeader svg.arrowNavigation{
    display: none;
}

.emailGroup .input-group-text{
    width: 120px;
    padding: 0;
    border: none;
}
.emailGroup input.form-control{
    width: calc(100% - 120px);
}

.settingsMenu ul li ul{
    position: relative;
    top: 0;
    display: none;
}
.settingsMenu ul li > a .menuAgnle{
    transition: all ease 350ms;
}
.settingsMenu ul li > a.active .menuAgnle{
    transform: rotate(-180deg);
}
.imgUploadWrap > img{
    max-height: 98%;
    width: auto;
    max-width: 100%;
}



#attendanceAndResultAccr.accordion .accordion-item:first-child{
    margin-top: -.5rem;
}
#attendanceAndResultAccr.accordion .accordion-item:last-child{
    margin-bottom: -.5rem;
}
#attendanceAndResultAccr.accordion .accordion-item .accordion-header .accordion-button{
    padding-left: .5rem;
}
#attendanceAndResultAccr .accordion-button .accordionCollaps{
    right: 0;
}
#attendanceAndResultAccr.accordion .accordion-item:not(:last-child) {
    border-bottom-width: 1px;
    border-color: rgb(var(--color-slate-300) / 0.6);
}


.planTreeWrap{
    position: relative;
}
.planTreeWrap ul{
    margin: 0;
    padding: 0;
}
.planTreeWrap ul li{
    position: relative;
    cursor: pointer;
    margin: 0 0 11px;
}
.planTreeWrap ul li.hasChildren{
    padding: 0 0 0 22px;
}
.planTreeWrap ul li.hasChildren::before{
    content: '+';
    width: 14px;
    height: 14px;
    border-radius: 2px;
    font-size: 12px;
    color: rgb(22, 78, 99);
    font-weight: 500;
    background: #FFF;
    border: 1px solid rgb(22, 78, 99);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 2px;
}
.planTreeWrap ul li.hasChildren.opened::before{
    content: '-';
}
.planTreeWrap ul li > a > svg{
    display: none;
}
.planTreeWrap ul li.hasChildren > ul{
    border-left: 1px solid rgb(22, 78, 99);
    padding: 0 0 0 20px;
    margin: 10px 0 0;
}
.planTreeWrap ul li.hasChildren > ul li{
    margin: 0 0 10px;
}
.planTreeWrap ul li.hasChildren > ul li:last-child{
    margin: 0;
}
.planTreeWrap ul li.hasChildren > ul li::after{
    content: '';
    width: 10px;
    height: 1px;
    background-color: rgb(22, 78, 99);
    position: absolute;
    left: -20px;
    top: 9px;
}

.autoCompleteField{
    position: relative;
}
.autoFillDropdown{
    transition: margin-top 0.2s;
    box-shadow: 0px 3px 10px #00000017;
    position: relative;
    margin-top: .25rem;
    width: 100%;
    border-radius: 0.375rem;
    padding: 0.5rem;
    background-color: rgb(255 255 255 / 1);
    border: 1px solid rgb(226 232 240);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: none;
}
.autoFillDropdown li{
    margin: 0;
    padding: 0;
}
.autoFillDropdown li a {
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding: 0.5rem;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown-item:hover {
    background-color: rgb(226 232 240 / 0.6);
}

#studentSearchAccordion.accordion .accordion-item:first-child{
    margin-top: -.5rem;
}
#studentSearchAccordion.accordion .accordion-item:last-child{
    margin-bottom: -.5rem;
}
#studentSearchAccordion.accordion .accordion-item .accordion-header .accordion-button{
    padding-left: 0;
}
#studentSearchAccordion.accordion .accordion-button .accordionCollaps{
    right: 0;
}

.r-0{
    right: 0;
}
.t-0{
    top: 0;
}
.settingBtns{
    right: 0;
    top: 0;
}
.visibilityBtn{
    position: relative;
    top: -2px;
}
.visibilityBtn.visibility_0:after {
    content: '';
    width: 1px;
    height: 20px;
    background: rgb(100, 116, 139);
    position: absolute;
    transform: rotate(45deg);
    left: 7px;
    margin: 0;
    top: -2px;
}
.w-30{
    width: 7.5rem;
}
.h-30{
    height: 7.5rem;
}

#permissionTemplateAccr.accordion .accordion-item:first-child{
    margin-top: -.5rem;
}
#permissionTemplateAccr.accordion .accordion-item:last-child{
    margin-bottom: -.5rem;
}
#permissionTemplateAccr.accordion .accordion-item .accordion-header .accordion-button{
    padding-left: 0;
}
#permissionTemplateAccr.accordion .accordion-item {
    box-shadow: 0px 3px 20px #0000000b;
}
#permissionTemplateAccr.accordion .accordion-button .accordionCollaps{
    right: 0;
}
#permissionTemplateAccr.accordion .accordion-header{
    position: relative;
    padding: 0 0 0 53px;
}
#permissionTemplateAccr.accordion .accordion-header .form-check{
    position: absolute;
    left: 0;
    top: 2px;
}

.weekDays{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.weekDay{
    position: relative;
    margin: 0 5px 5px 0;
}
.weekDay input[type="checkbox"]{
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.weekDay label{
    position: relative;
    cursor: pointer;
}
.weekDay label .checkIcon{
    display: none;
}
.weekDay input[type="checkbox"]:checked + label{
    border-color: rgb(var(--color-primary) / var(--tw-border-opacity));
    background-color: rgb(var(--color-primary) / var(--tw-bg-opacity));
    color: #FFF;
}
.weekDay input[type="checkbox"]:checked + label .checkIcon{
    display: inline-flex;
}
.weekDay input[type="checkbox"]:checked + label .closeIcon{
    display: none;
}

.chellIconWrapper{
    border-color: rgb(var(--color-primary) / var(--tw-border-opacity));
    background-color: rgb(var(--color-primary) / var(--tw-bg-opacity));
    font-weight: 500;
    color: #FFF;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



.employeeHolidayAccordion.accordion .accordion-item:first-child{
    margin-top: -.5rem;
}
.employeeHolidayAccordion.accordion .accordion-item:last-child{
    margin-bottom: -.5rem;
}
.employeeHolidayAccordion.accordion .accordion-item .accordion-header .accordion-button{
    padding-left: 0;
    margin-bottom: 0;
}
.employeeHolidayAccordion.accordion .accordion-button .accordionCollaps{
    right: 0;
    width: 16px;
    height: 16px;
    top: 23px;
}
.employeeHolidayAccordion.accordion .accordion-item .accordion-header .accordion-button.collapsed{
    margin-bottom: -1rem;
}
.adjustmentInpugGroup .input-group-text{
    width: 51px;
}
.adjustmentInpugGroup .input-group-text::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.adjustmentInpugGroup input[type="text"]{
    height: 50px;
}
.adjustmentRadioGroup{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
}
.adjustmentRadioGroup.argMinus{
    top: auto;
    bottom: 0;
}
.adjustmentRadioGroup input{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}
.adjustmentRadioGroup label{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: rgb(var(--color-primary) / var(--tw-text-opacity));
    background-color: rgb(var(--color-primary) / .2);
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.adjustmentRadioGroup input:checked + label{
    background-color: rgb(var(--color-success) / var(--tw-bg-opacity));
    color: #FFF;
}

.leaveCalendar .litepicker:before,
.leaveCalendar .litepicker::after{
    display: none;
}
/* .leaveCalendar .litepicker{
    display: block !important;
    width: 100%;
}
.leaveCalendar .litepicker .container__months{
    width: 100%;
}
.leaveCalendar .litepicker .container__months .month-item{
    width: 100%;
}
.leaveCalendar .litepicker .container__days > div{
    flex-grow: 1;
    width: 12.5%;
} */
.leaveCalendar .litepicker .container__days .day-item{
    cursor: pointer;
}
.leaveCalendar .litepicker .container__days .day-item.is-locked,
.leaveCalendar .litepicker .container__days .day-item.is-locked:hover{
    color: rgba(185, 28, 28, 1);
    background: rgba(185, 28, 28, .15);
    cursor: not-allowed;
}
.leaveDayTable{
    width: 100%;
}
.leaveDayTable tr td {
    padding: 0 5px 10px;
}
.leaveDayTable tr:last-child td {
    padding: 0 5px 0;
}
.leaveDayTable tr td:first-child {
    text-align: right;
}
.leaveDayTable tr td:nth-child(2) {
    width: 60px;
    text-align: center;
}
.leaveDayTable tr td:last-child {
    width: 111px;
    padding-right: 0;
}
.newRequestRow{
    cursor: pointer;
    background: rgba(245, 158, 11, .2);
}

.bankHolidayRow{
    background: rgba(74, 179, 244, .2);
    cursor: pointer;
}
.rejectedDayRow{
    background: rgba(185, 28, 28, .2);
    cursor: pointer;
}
.approvedDayRow{
    cursor: pointer;
}


/* Live Attendance Machine */
.content.content--top-nav.machineLiveBody{
    margin: 1.25rem;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content.content--top-nav.machineLiveBody::before{
    display: none;
}
.theLiveCard{
    max-width: 768px;
    width: 100%;
}
#liveAttendanceForm .clock_in_no.form-control {
    height: 70px;
    font-size: 1.5rem;
}
.liveAttendanceFormBtnGroup{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.liveAttendanceFormBtnGroup .btn {
    width: calc(50% - 3px);
    display: inline-flex;
    height: 55px;
    font-size: 1.09rem;
    text-transform: capitalize;
    margin: 0 0 5px 0;
    display: none;
}
.liveAttendanceFormBtnGroup .btn:nth-child(odd){
    margin-right: 3px;
}
.liveAttendanceFormBtnGroup .btn:nth-child(even){
    margin-left: 3px;
}

#attendanceAccordion .accordion-button .accordionCollaps{
    right: 0;
}
.dailyAttendanceTable.table.table-sm > thead > tr > th.inputCheckbox,
.dailyAttendanceTable.table.table-sm > tbody > tr > td.inputCheckbox{
    width: 60px;
}
.dailyAttendanceTable.table.table-sm tr td table{
    border: none;
}
.dailyAttendanceTable.table.table-sm tr td table tr td{
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.dailyAttendanceTable.table.table-sm tr td table tr:last-child td{
    padding-bottom: 0;
}
.dailyAttendanceTable tr td input{
    max-width: 120px;
}
.return_list{
    list-style-type: decimal;
    font-weight: 500;
    list-style-position: inside;
    border-bottom: 2px solid rgba(226, 232, 240, 1);
    padding: 0 0 0px 0;
    margin: 0 0 2px;
}
#viewBreakModal .return_list{
    border-bottom: none;
    margin-bottom: 0;
}
#viewBreakModal .return_list li{
    margin: 0 0 5px;
}
#viewBreakModal .return_list li:last-child{
    margin: 0;
}
#viewBreakModal .return_list li.has_error .re_br{
    color: rgb(185, 28, 28);
    cursor: pointer;
}
#viewBreakModal .return_list li.has_error .edit_this{
    margin: 2px 0 0 16px;
    max-width: calc(100% - 16px);
    display: none;
}

.leaveCalendarWrap{
    position: relative;
}
.leaveTableLoader{    
    background: rgba(22, 78, 99, .9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.leaveTableLoader.active{
    opacity: 1;
    visibility: visible;
    z-index: 999;
}
.leaveCalendarTable thead tr th:not(:first-child){
    font-size: 12px;
    line-height: 1;
}
.leaveCalendarTable thead tr th:not(:first-child) span{
    display: block;
}
.leaveCalendarTable thead tr th:not(:first-child) span:first-child{
    padding: 0 0 3px;
}
.leaveCalendarTable thead tr th:not(:first-child) span:last-child{
    color: rgba(148, 163, 184, 1);
}
.leaveCalendarTable thead tr th.today,
.leaveCalendarTable tbody tr td.today{
    background: rgba(245, 158, 11, .1);
}
.leaveCalendarTable tbody tr td{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.leaveCalendarTable tbody tr td.view_leave{
    cursor: pointer;
}
.leaveCalendarTable tbody tr td.NonWorkingDay{
    background: rgba(226, 232, 240, .75);
    color: #5b5b5b;
    cursor: not-allowed;
}
.labelsBtnsGroup span{
    font-size: 12px;
}
.holidayVacationBG{
    background: rgb(0 119 181);
    color: #FFF;
}
.meetingTrainingBG{
    background: rgb(0 0 0);
    color: #FFF;
}
.sickLeaveBG{
    background: rgb(30 41 59);
    color: #FFF;
}
.authoriseUnpaidBG{
    background: rgb(185 28 28);
    color: #FFF;
}
.authorisedPaidBG{
    background: rgb(59 89 152);
    color: #FFF;
}
.bankHolidayBG{
    background: rgb(243, 110, 38);
    color: #FFF;
}
.pendingDay{
    background-image: repeating-linear-gradient(180deg, transparent, transparent 3px, rgba(255,255,255,0.3) 3px, rgba(255,255,255,0.3) 6px );
}

@media (min-width: 1200px){
    .modal .modal-dialog.modal-xl.modal-xl-extended {
        width: 65%;
        min-width: 900px;
    }
}

.bg-danger-soft{
    background-color: rgb(var(--color-danger) / .1) !important;
}
.bg-danger-soft-2{
    background-color: rgb(var(--color-danger) / .06) !important;
}
.bg-warning-soft{
    background-color: rgb(var(--color-warning) / .2) !important;
}
.bg-success-soft{
    background-color: rgb(var(--color-success) / .2) !important;
}
.bg-success-soft-2{
    background-color: rgb(var(--color-success) / .06) !important;
}

#leaveCalendar .litepicker{
    width: 100%;
}
#leaveCalendar .litepicker .container__main {
    width: 100%;
}
#leaveCalendar .litepicker .container__months {
    width: 100%;
}
#leaveCalendar .litepicker .container__months .month-item {
    padding: 5px;
    width: var(--litepicker-month-width);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
}
#leaveCalendar .litepicker .container__days>div, #leaveCalendar .litepicker .container__days>a {
    width: calc(100% / 7);
}



.timeKeepingRow{
    cursor: pointer;
}
.timeKeepingRow_1{
    background: rgb(0 119 181);
    color: #FFF;
}
.timeKeepingRow_2{
    background: rgb(0 0 0);
    color: #FFF;
}
.timeKeepingRow_3{
    background: rgb(30 41 59);
    color: #FFF;
}
.timeKeepingRow_4{
    background: rgb(185 28 28);
    color: #FFF;
}
.timeKeepingRow_5{
    background: rgb(59 89 152);
    color: #FFF;
}
.timeKeepingRow_ov{
    background: rgb(217 119 6);
    color: #FFF;
}